$primary-first: #28df99;
$primary-secondary: #99f3bd;
$primary-third: #d2f6c5;
$primary-inverted: #f6f7d4;

$light-blue: #728fce;
$dark-blue: #151b54;

$error-color: #e7666b;

$text-color: #808080;
$black-color: #000000;
$white-color: #ffffff;

// * Width and height
$header-height: 76px;
$footer-height: 76px;
$hero-height: 300px;

$element-32: 32px;
